html {
  font-size: 100%;
}

body {
  color: #fff;
  background: #000;
  font-size: 0.9rem;
  line-height: 1.7;
}

a {
  color: #121212;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.site-title {
  line-height: 1px;
  width: 180px;
}

.site-title a {
  display: block;
}

.sec-title {
  font-size: 2.25rem;
  margin-bottom: 30px;
  text-align: center;
}

.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}

/* header*/

#header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}

.toggle_btn {
  display: block;
  position: fixed;
  top: 35px;
  right: 45px;
  width: 30px;
  height: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  z-index: 20;
}

/* hamburger */
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .5s; 
  animation: stretchdelay 2s ease-in-out 0s infinite normal;
}

@keyframes stretchdelay {
  0%,
  100% {
    transform: scaleX(0.3);
  }
  50% {
    transform: scaleX(1);
  }
}

.toggle_btn span:nth-child(1) {
  top: 4px;
  animation-delay: -.3s;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
  animation-delay: -.6s;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
  animation-delay: -.9s;
}

.active.toggle_btn span {
  background-color: #000;
}

.active.toggle_btn span:nth-child(1) {
  animation: none;
  transform: translateY(10px) rotate(-45deg);
}
.active.toggle_btn span:nth-child(2) {
  opacity: 0;
}
.active.toggle_btn span:nth-child(3) {
  animation: none;
  transform: translateY(-10px) rotate(45deg);
}

/* nav-menu */
#navi .navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
#navi .navigation.active {
  visibility: visible;
}

#navi .navigation span {
  position: absolute;
  top: -100%;
  left: calc(25% * var(--i));
  width: 25%;
  height: 100%;
  background: #de0611;
  border: 1px solid rgba(0, 0, 0, 0.25);
  transition: all .25s;
  transition-delay: calc(.25s * var(--i));
}
#navi .navigation.active span {
  top: 0;
}

#navi .navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  transform: translateX(-100px);
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  transition-delay: 0s;
}
#navi .navigation.active ul {
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
  transition-delay: .75s;
}

#navi .navigation ul li a {
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  padding: 5px 20px;
}
#navi .navigation ul li:nth-child(3) {
  margin-bottom: 15px;
}
#navi .navigation ul li:nth-child(4) {
  margin-top: 15px;
}
#navi .navigation ul li a:hover {
  background: #fff;
  color: #de0611;
}

/* mainvisual */
#mainvisual {
  height: 100vh;
  position: relative;
  margin-bottom: 120px;
}
#mainvisual .fade li {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 100px;
  right: 0;
  animation: fade 15s infinite;
  vertical-align: bottom;
}
#mainvisual .fade li:nth-child(1) {
  animation-delay: 0s;
}

#mainvisual .fade li:nth-child(2) {
  animation-delay: 5s;
}

#mainvisual .fade li:nth-child(3) {
  animation-delay: 10s;
}
#mainvisual .fade li img {
  width: 100%;
  height: calc(100vh - 100px);
  object-fit: cover;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* pickup */
#pickup {
  margin-bottom: 80px;
}

#pickup .box-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  width: 100%;
}
#pickup .box-content .box {
  position: relative;
  width: 350px;
  height: 450px;
  margin: 40px;
  background: #232323;
  border-radius: 20px;
  transform-style: preserve-3d;
}
#pickup .box-content .box::before {
  content: "NIKE";
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 6em;
  font-weight: 900;
  color: #fff;
  font-style: italic;
  opacity: 0;
  transition: all .5s;
}
#pickup .box-content .box::after {
  content: "SHOES";
  position: absolute;
  bottom: 20px;
  right: 50px;
  font-size: 5em;
  font-weight: 900;
  color: #fff;
  font-style: italic;
  opacity: 0;
  transition: all .5s;
}
#pickup .box-content .box:hover::before,
#pickup .box-content .box:hover::after {
  opacity: 0.1;
}
#pickup .box-content .box .name {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  width: 100%;
  transform: translate3d(0, 0, 75px);
  transition: all .5s;
  opacity: 0;
  z-index: 10;
}
#pickup .box-content .box:hover .name {
  top: 40px;
  opacity: 1;
}
#pickup .box-content .box .detail {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 75px);
  color: #fff;
  background: #333;
  padding: 10px 25px;
  border-radius: 30px;
  transition:all .5s;
  opacity: 0;
  z-index: 10;
}
#pickup .box-content .box:hover .detail {
  bottom: 30px;
  opacity: 1;
}
#pickup .box-content .box .circle {
  position: absolute;
  top: 40%;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all .5s;
  background: #fff;
  transform-style: preserve-3d;
  z-index: 10;
  opacity: 1;
  transform: translate3d(-50%, -50%, 50px);
}
#pickup .box-content .box .product {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 300px;
  z-index: 15;
  transition:all .5s;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 0px) rotate(15deg);
}
#pickup .box-content .box:nth-child(1) .circle,
#pickup .box-content .box:nth-child(1) .buy {
  background: #fb4b4f;
}
#pickup .box-content .box:nth-child(2) .circle,
#pickup .box-content .box:nth-child(2) .buy {
  background: #379bf7;
}
#pickup .box-content .box:nth-child(3) .circle,
#pickup .box-content .box:nth-child(3) .buy {
  background: #9bdc28;
}

#pickup .box-content .box:hover .product {
  transform: translate3d(-50%, -50%, 100px) rotate(-15deg);
}

/* feature */
  #feature {
    max-width: 1240px;
    padding: 100px 16px 50px 16px;
    margin: -50px auto 30px auto;
  }
  #feature .sec-title {
    margin-bottom: 70px;
  }
  #feature .grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  #feature .grid .item {
    transition: all .3s ease;
    box-shadow: 0 0 8px 4px #232323;
  }
  #feature .grid img {
    vertical-align: top;
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
  #feature .grid .item-content {
    padding: 30px;
  }
  #feature .grid .item-cat {
    font-size: 0.75rem;
    margin-bottom: 20px;
  }
  #feature .grid .item-text {
    font-weight: bold;
    margin-bottom: 20px;
  }
  #feature .grid .item-date {
    font-size: 0.75rem;
    text-align: right;
  }

  /* contact */
  #contact {
    color: #121212;
    background-color: #fff;
    padding: 50px 0;
  }
  #contact .sec-title {
    color: #121212;
  }
  #contact .content {
    max-width: 1240px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  #contact .contact-info p {
    margin-bottom: 30px;
  }
  #contact .contact-info,
  #contact .contact-form {
    width: 45%;
  }
  #contact .contact-form input,
  #contact .contact-form textarea {
    width: 100%;
    background-color: #999;
    padding: 10px;
    margin-bottom: 20px;
  }
  #contact .contact-form .btn {
    position: relative;
    display: inline-block;
    transform-style: preserve-3d;
    perspective: 300px;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
  }
  #contact .contact-form .btn span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 1px #000;
    line-height: 48px;
    text-align: center;
    transition: all .3s;
  }
  #contact .contact-form .btn span.hovering {
    background-color: #000;
    color: #fff;
    transform: rotateX(90deg);
    transform-origin: center center -25px;
  }
  #contact .contact-form .btn span.default {
    background-color: #fff;
    color: #000;
    transform: rotateX(0);
    transform-origin: center center -25px;
  }
  #contact .contact-form .btn:hover span.hovering {
    transform: rotateX(0);
  }
  #contact .contact-form .btn:hover span.default {
    transform: rotateX(-90deg);
  }

  
  /* footer */
  #footer {
    color: #121212;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
  }
  

@media screen and (max-width: 767px) {
  .site-title {
    line-height: 1px;
    width: 140px;
  }
  .sec-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  #header {
    padding: 20px 16px;
  }

  /* navi-menu */
  .toggle_btn {
    right: 20px;
  }

  /* feature */
  #feature {
    padding: 80px 16px;
  }
  #feature .grid .item-content {
    padding: 16px;
  }

  /* nav-menu */
  #navi .navigation ul li a {
    font-size: 1.5em;
  }

  /* contact */
  #contact {
    padding: 80px 0;
  }
  #contact .content {
    flex-direction: column;
  }
  #contact .contact-info,
  #contact .contact-form {
    width: 100%;
  }
  #contact .contact-form .btn {
    width: 50%;
  }
}